*{
margin: :0;
padding: 0;
box-sizing: border-box;
}

html{
font-size: 10px;
font-family: "Roboto", sans-serif;

}

body{
overflow-x: hidden;
background-color: #000;
}

a{
text-decoration: none;
color: #fff;
}

section{
padding: 10rem 0;
background-color: #fff;
}

.heading{
text-transform: uppercase;
font-size: 3.5rem;
letter-spacing: 1px;
margin-right: -3px;
margin-bottom: 5rem;
text-align: center;
color: #333;
position: relative;
}

.heading::after{
content: "";
width: 10rem;
height: .8rem;
background-color: #660033;
position: absolute;
bottom: -2rem;
left:50%;
transform: translateX(-50%);
border-radius:2rem;
}

.card-wrapper{
display: flex;
align-items: center;
align-content: center;
flex-direction: column;
}

.card{
width: 32rem;
background-color: #660033;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin:2rem 0;
box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
}

.card .card-img{
width:100%;
height: 26rem;
object-fit: cover;
-webkit-clip-path:polygon(0 0, 100% 0, 100% 78%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
overflow: hidden;
}

.profile-img{
width: 15rem;
height:15rem;
object-fit: cover;
border-radius: 50%;
margin-top: -11rem;
z-index: 1;
border: 5px solid #000000;
overflow: hidden;
}

.card h1{
font-size: 2.5rem;
color:#fff;
margin: 1.5rem 0;
}
.job-title{
color: #febd01;
font-size: 1.5rem;
font-weight: 300;
}

.about{
font-size: 1.5rem;
margin: 1.5rem 0;
font-style: italic;
text-align: center;
color:#fff;
}

.card .btn{
padding: 1rem 2.5rem;
background-color: #febd01;
border-radius: 2rem;
margin:1rem 0;
text-transform: uppercase;
color:#000000;
font-size: 1.4rem;
font-weight: 300;
transition: all .5s;
}

.card .btn:hover{
transform: translateY(-2px);
box-shadow: .5rem .5rem 2rem rgba(0,0,0,.2);
}

.card .btn:active{
transform: translateY(0);
box-shadow: none;
}

/*.card .modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 50px;
  background-color: transparent;
}

.card .modal-header {
  padding: 2px 16px;
  background-color: #660033;
  border-radius: 15px 50px 0px 0px;
  color: white;
}

.card .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 5px solid #660033;
  border-radius: 15px 50px;
  width: 50%;
}

.card hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.card .close {
  position: sticky;
  left: 100%;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
  cursor: pointer;

}**/

@media screen and (min-width: 700px){
.card-wrapper{
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.card{
margin:2rem;
transition: transform .5s;
}


@keyframes fadeIn{
from{
opacity: 0;
}
to{
opacity: 1;
}
}

.card:nth-child(1){
animation: fadeIn .5s .5s backwards;
}
.card:nth-child(2){
animation: fadeIn .5s 1s backwards;
}
.card:nth-child(3){
animation: fadeIn .5s 1.5s backwards;
}
.card:nth-child(4){
animation: fadeIn .5s 2s backwards;
}
.card:nth-child(5){
animation: fadeIn .5s 2.5s backwards;
}

.card:hover{
transform: scale(1.05);
}


}


@media screen and (min-width: 350px){
.card-wrapper{
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.card{
margin:2rem;
transition: transform .5s;
}


@keyframes fadeIn{
from{
opacity: 0;
}
to{
opacity: 1;
}
}

.card:nth-child(1){
animation: fadeIn .5s .5s backwards;
}
.card:nth-child(2){
animation: fadeIn .5s 1s backwards;
}
.card:nth-child(3){
animation: fadeIn .5s 1.5s backwards;
}
.card:nth-child(4){
animation: fadeIn .5s 2s backwards;
}
.card:nth-child(5){
animation: fadeIn .5s 2.5s backwards;
}

.card:hover{
transform: scale(1.05);
}
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 9999; 
  left: 0%;
  top: 0%;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  /*background-color: #ff7f00;*/
  padding-top: 50px;
  background-color: rgba(0,0,0,0.4);
}

.modal-header {
  padding: 2px 16px;
  background-color: #660033;
  border-radius: 15px 50px 0px 0px;
  color: white;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 5px solid #660033;
  border-radius: 15px 50px;
  width: 50%; 
}

.close {
  position: sticky;
  left: 100%;
  top: 150px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

h2{
  margin: 10px;
  font-size: 20px;
}

p{
  margin: 10px;
  font-size: 15px;
}